body {
  background-color: dimgray;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  font-size: 5rem;
  color: yellow;
}

button {
  position: absolute;
  top: 50vh;
  left: 50vw;
  background: dimgray;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  border-radius: 15px;
  box-shadow: 0 10px #999;
  outline: none;
}

svg {
  width: 400px;
  height: 400px;
}

button:hover {
  background: gray;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:active {
  background-color: #2f2f2f;
  box-shadow: 0 10px #666;
  transform: translate(-50%, -49%);
}
